node_modules/
back/authentification/microservice/node_modules/
front/node_modules/
back/authentification/microservice/.env
front/.env
dist/
/.idea
.vscode
.DS_Store
front/src/environments/environments.development.ts
front/src/environmentsenvironments.ts